.footer {
    background-color: black;
    color: white;
    padding: 2%;
    text-align: center;
    font-size: small;
    margin-top: auto;
}

.footer__clases {
    background-color: black;
    color: white;
    padding: 2%;
    text-align: center;
    font-size: small;
    margin-top: auto;
}

