.inicio {
    font-family: $mainFont;
    color: $mainColor;
    background-color: rgba(132, 132, 132, 0.4);
    text-align: left;
    margin-top: 400px;
    margin-bottom: 8px;
    padding: 30px;
    border: 0px solid;
    width: 100%; 

    .h1__index {
        font-size: 40px;
    }

    .h2__index {
        font-size: 18px;
    }


    }

