@media screen and (min-width: 1024px) {
    .p__particulares {
        width: 80%;
    }
    
    .p__grupales {
        width: 80%;
    }
    }
        
    
    @media screen and (max-width: 1023px) {
    .menu {
        font-size: 85%;
    }
    
    .h1__index {
        font-size: 33px;
    
    }
    
    .h2__index {
        font-size: 15px;
    }
    
    .inicio {
        margin-top: 450px;
        margin-bottom: 2px;
        padding: 20px;
        border: 0px solid;
        width: 100%; 
    }
    
    .h1__sobremi {
        font-size: 25px;
    }
    
    .p__sobremi {
        font-size: 17px;
    }

    .sobremi:hover {
        display: none;
    }
    
    .h1__particulares {
        font-size: 30px;
    }
    
    .p__particulares {
        font-size: 19px;
            width: 80%;
        }
    
    .h1__grupales {
        font-size: 30px;
    }
    
        .p__grupales {
            font-size: 19px;
            width: 80%;
        }
    
        .h1__shantala {
            font-size: 30px;
        }
    
        .p__shantala {
            font-size: 19px;
        }
    
        .h1__abhyanga {
            font-size: 30px;
        }
    
        .p__abhyanga {
            font-size: 19px;
        }
    
        .h1__contacto {
            font-size: 23px;
        }
    
        .form {
            font-size: 15px;
        }
        
        
        .footer {
            font-size: 85%;
            padding: 2%;
            bottom: 0px;
            width: 100%;
    
    
        }
    }
    
    
    
    @media screen and (max-width: 767px){
    .menu {
        font-size: 70%;
    }
    
        .body__index {
            background-image: url("../images/masajes4.jpg");
            display: flex;
            height: 100vh;
            flex-direction: column;
    
        }    
    
        .h1__index {
            font-size: 20px;
        }
    
        .h2__index {
            font-size: 13px;
        }
    
    
        .inicio {  
            margin-top: 450px;
            margin-bottom: 2px;
            padding: 12px;
            border: 0px solid;
            width: 100%; 
        }
    
        .body__sobremi {
            background-image: url("../images/ayurveda.jpg");
            display: flex;
            height: 100vh;
            flex-direction: column;
    
        }
    
    
        .sobremi {
            background-color: rgba(128, 128, 128, 0.186);
            flex: 1;
            margin-top: 30px;
            margin-right: 40px;
            margin-left: 40px;
            margin-bottom: 60px;
            width: 80%;
    
        }
    
        .h1__sobremi {
            font-size: 22px;
        }
    
        .p__sobremi {
            font-size: 15px;
    
        }

        .sobremi:hover {
            transform: scale(1.1) translateY(5px);
            transition: all 1s;
        }
    
    
    
        .body__clases {
            display: flex;
            height: 100vh;
            flex-direction: column;
        }
        
        .h1__particulares {
            font-size: 25px;
        }
    
        .p__particulares {
            font-size: 17px;
            width: 80%;
        
        }
    
        .h1__grupales {
            font-size: 25px;
    
        }
    
        .p__grupales {
            font-size: 17px;
            width: 80%;
        }
    
        .body__masajes {
            display: flex;
            height: 100vh;
            flex-direction: column;
        }
    
        .h1__shantala {
            font-size: 25px;
        }
    
        .p__shantala {
            font-size: 17px;
            width: 80%;
        }
    
        .h1__abhyanga {
            font-size: 25px;
        }
    
        .p__abhyanga {
            font-size: 17px;
            width: 80%;
        }

        .body__contacto {
            background-image: url("../images/mercedes6.jpg");
        }
    
        .contacto {
            padding: 10px 10px 21px 10px;
            margin: auto;
            border: 3px solid;   
        }    
    
        .h1__contacto {
            font-size: 17px;
        }
    
        .form {
            font-size: 14px;
        }

        .form input, .form textarea {
            max-width: 80%;

        }
    
        .footer {
            font-size: 70%;
            padding: 2%;
            bottom: 0px;
            width: 100%;
    
    
        }
    
    }